.TaskPane {
  background-color: #1c1c1c;
  width: 100%;
  position: relative;
}

.Header {
  display: flex;
  padding: 2rem;
  span {
    font-size: 35px;
    color: white;
  }
}

.TaskArea {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.InputContainer {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  input {
    background-color: #353535 !important;
  }
}
